/.idea
/__pycache__
/src/logs
/venv
/user_data/
/src/.credentials.json
/source/
make.bat
Makefile
/evernote_cli.dist-info/
/evernote_cli.egg-info/
/dist/
/build
/conf.py
/_build
/_static
/_templates
/index.rst
/src/user_data/